.container{
    width: 50%;
	height: 55%;
	background-color: black;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}

.button-container{
    height:100px;
    margin-top: 10px;
    text-align: center;
}

.pause-button, .play-button{
    border-radius: 25px;
    float: left;
    height: 90%;
    width: 15%;
    margin-left: 15px;
    color: white;
    padding: 1.5rem;
    font-size: 1vw;
}

.pause-button:hover, .play-button:hover{
    background-color: rgb(36, 36, 36);
    border-style: white solid;
}

.stop-restart-button{
    height: 90%;
    width:15%;
    border-radius: 25px;
    float: left;
    margin-left: 15px;
    color: white;
    padding: 1.5rem;
    font-size: 1vw;
}

.stop-restart-button:hover{
    background-color: rgb(36, 36, 36);
}

.timer{
    border: 3px solid white;
    border-radius: 25px;
    height: 125%;
    
}

.time{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 10vw;
}

body{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}