.container{
    width: 800px;
	height: 400px;
	background-color: black;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}

.button-container{
    height:100px;
    margin-top: 10px;
    text-align: center;
}

.pause-play-button{
    border: 3px solid white;
    border-radius: 25px;
    float: left;
    height: 90px;
    width: 350px;
    margin-left: 20px;
    color: white;
    padding: 1.5rem;
}

.pause-play-button:hover{
    background-color: rgb(36, 36, 36);
}

.stop-restart-button{
    height: 90px;
    width: 350px;
    border: 3px solid white;
    border-radius: 25px;
    float: right;
    margin-right: 20px;
    color: white;
    padding: 1.5rem;
}

.stop-restart-button:hover{
    background-color: rgb(36, 36, 36);
}

.timer{
    border: 3px solid white;
    border-radius: 25px;
    height: 280px;
    
}

.time{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 10rem;
}

body{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}